

<section id="menu" class="section" style="background-color: #1A1814;">
    <div class="section-title">
        Carta
    </div>

    <div class="section-filter">
        <button class="btn-filter" ng-class="{'btn-filter-active': selected_category == null}" ng-click="setCategory(null)">Todos</button>

        <button class="btn-filter" ng-class="{'btn-filter-active': selected_category == category.id}" ng-click="setCategory(category.id)" ng-repeat="category in categories">
            {{category.name_es}}
        </button>
    </div>

    <div class="section-content">
        <div ng-repeat="product in products" class="item">
            <div class="item-name">
                {{product.name_es}}
            </div>

            <div class="item-price">
                {{product.price | number: 2}} €
            </div>
        </div>
    </div>
</section>

